env_erp/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
staticfiles/
media/
.vscode/
Thumbs.db
.DS_Store
$RECYCLE.BIN/
System Volume Information/
Git_Portable/
Python_Portable/
git_respaldo_hoy/
WorkSpace_ERP/
PortableGit-*.exe
python-*-embed-*.zip
*.7z.exe
*.zip
fichas/
prueba.py
README_anterior.md
